@use './partials/variables' as *;
@use './partials/mixins' as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

//UTILITIES
.container {
    height: 100%;
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ffffff;
    width: 200px;
    height: 300px;

    .cardInfo {
        padding: 10px;

        img {
            width: 18px;
        }
    }
}