@use './partials/variables' as *;
@use './partials/mixins' as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

img {
    max-width: 100%;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

input {
    outline: none;
}

//UTILITIES
.container {
    height: 100%;
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

//Rotating two-sided card
.card {
    font-size: 14px;
    perspective: 150rem;
    position: relative;
    width: 200px;
    height: 300px;
    cursor: pointer;

    .card-side {
        height: 100%;
        width: 100%;
        transition: all 1s ease;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;

        //IF NO IMAGE IS FOUND
        .no_img_found {
            width: 100%;
            background-color: rgb(130, 125, 125);
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .cardInfo {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 10px;
            word-wrap: break-word;

            .infoElement {
                margin-bottom: 10px;

                img {
                    width: 18px;
                }

                span .fa-solid {
                    color: rgb(255, 225, 56);
                }
            }

            .overview {
                max-height: 100%;
                overflow-y: scroll;
            }
        }

        &.front {
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &.back {
            transform: rotateY(180deg);
            border: 1px solid #ffffff;
            border-radius: 10px;

        }

    }
}

.card:hover .card-side.front {
    transform: rotateY(-180deg);
}

.card:hover .card-side.back {
    transform: rotateY(0deg);
}